USE [master]
GO
/****** Objeto: Database [tpc_P3] Fecha de script: 30/6/2026 19:32:08 ******/
CREATE DATABASE [tpc_P3] ON  PRIMARY 
( NAME = N'tpc_P3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\tpc_P3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tpc_P3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\tpc_P3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tpc_P3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tpc_P3]
GO
/****** Objeto: Table [dbo].[Categorias] Fecha de script: 30/6/2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Clientes] Fecha de script: 30/6/2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [varchar](15) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Direccion] [varchar](200) NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](150) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Compras] Fecha de script: 30/6/2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetalleCompras] Fecha de script: 30/6/2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCompra] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal]  AS ([Cantidad]*[PrecioUnitario]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetalleFacturas] Fecha de script: 30/6/2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFacturas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioCompra] [decimal](10, 2) NOT NULL,
	[PorcentajeGanancia] [decimal](5, 2) NOT NULL,
	[PrecioVenta] [decimal](10, 2) NOT NULL,
	[Subtotal]  AS ([Cantidad]*[PrecioVenta]) PERSISTED,
	[IdLote] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Facturas] Fecha de script: 30/6/2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroFactura] [varchar](20) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Lotes] Fecha de script: 30/6/2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdDetalleCompra] [int] NOT NULL,
	[CantidadTotal] [int] NOT NULL,
	[CantidadDisp] [int] NOT NULL,
	[PrecioCompra] [decimal](10, 2) NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Marcas] Fecha de script: 30/6/2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Perfiles] Fecha de script: 30/6/2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombrePerfil] [varchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Productos] Fecha de script: 30/6/2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[NombreProducto] [varchar](150) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[StockActual] [int] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[PorcentajeGanancia] [decimal](5, 2) NOT NULL,
	[IdMarca] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Proveedores] Fecha de script: 30/6/2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RazonSocial] [varchar](150) NOT NULL,
	[Cuit] [varchar](20) NOT NULL,
	[Direccion] [varchar](200) NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](150) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 30/6/2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User] [varchar](50) NOT NULL,
	[Contrasena] [varchar](256) NOT NULL,
	[IdPerfil] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([Id], [Descripcion]) VALUES (1, N'Indumentaria')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([ID], [DNI], [Nombre], [Apellido], [Direccion], [Telefono], [Email], [Estado]) VALUES (1, N'12345678', N'Juan', N'Perez', N'Calle 123', N'1122334455', N'juan@test.com', 1)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([Id], [Descripcion]) VALUES (1, N'Nike')
SET IDENTITY_INSERT [dbo].[Marcas] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Codigo], [NombreProducto], [Descripcion], [StockActual], [StockMinimo], [Precio], [PorcentajeGanancia], [IdMarca], [IdCategoria], [Estado]) VALUES (1, N'P0001', N'Zapatillas Running', N'Zapatillas para running de uso diario', 50, 10, CAST(8500.00 AS Decimal(10, 2)), CAST(35.00 AS Decimal(5, 2)), 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([ID], [RazonSocial], [Cuit], [Direccion], [Telefono], [Email], [Estado]) VALUES (1, N'Distribuidora Mayorista S.A.', N'30-12345678-9', N'Av. Corrientes 1234', N'011-4567-8901', N'ventas@distribuidora.com', 1)
INSERT [dbo].[Proveedores] ([ID], [RazonSocial], [Cuit], [Direccion], [Telefono], [Email], [Estado]) VALUES (2, N'ramon vendendor adidas', N'30615265450', N'aa 221', N'1134038994', N'ramon@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Clientes__C035B8DD1540F17A] Fecha de script: 30/6/2026 19:32:09 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Facturas__CF12F9A6A1FDAADC] Fecha de script: 30/6/2026 19:32:09 ******/
ALTER TABLE [dbo].[Facturas] ADD UNIQUE NONCLUSTERED 
(
	[NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Producto__06370DACEA74B90F] Fecha de script: 30/6/2026 19:32:09 ******/
ALTER TABLE [dbo].[Productos] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Proveedo__AFA91786B3FA13CA] Fecha de script: 30/6/2026 19:32:09 ******/
ALTER TABLE [dbo].[Proveedores] ADD UNIQUE NONCLUSTERED 
(
	[Cuit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuarios__BD20C6F198D19AC5] Fecha de script: 30/6/2026 19:32:09 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Lotes] ADD  DEFAULT (getdate()) FOR [FechaIngreso]
GO
ALTER TABLE [dbo].[Perfiles] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [StockActual]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Precio]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [PorcentajeGanancia]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Proveedor] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedores] ([ID])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Proveedor]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Usuario]
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompras_Compra] FOREIGN KEY([IdCompra])
REFERENCES [dbo].[Compras] ([Id])
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_DetalleCompras_Compra]
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompras_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_DetalleCompras_Producto]
GO
ALTER TABLE [dbo].[DetalleFacturas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFacturas_Factura] FOREIGN KEY([IdFactura])
REFERENCES [dbo].[Facturas] ([Id])
GO
ALTER TABLE [dbo].[DetalleFacturas] CHECK CONSTRAINT [FK_DetalleFacturas_Factura]
GO
ALTER TABLE [dbo].[DetalleFacturas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFacturas_Lote] FOREIGN KEY([IdLote])
REFERENCES [dbo].[Lotes] ([Id])
GO
ALTER TABLE [dbo].[DetalleFacturas] CHECK CONSTRAINT [FK_DetalleFacturas_Lote]
GO
ALTER TABLE [dbo].[DetalleFacturas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFacturas_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetalleFacturas] CHECK CONSTRAINT [FK_DetalleFacturas_Producto]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([ID])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Cliente]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Usuario]
GO
ALTER TABLE [dbo].[Lotes]  WITH CHECK ADD  CONSTRAINT [FK_Lotes_DetalleCompra] FOREIGN KEY([IdDetalleCompra])
REFERENCES [dbo].[DetalleCompras] ([Id])
GO
ALTER TABLE [dbo].[Lotes] CHECK CONSTRAINT [FK_Lotes_DetalleCompra]
GO
ALTER TABLE [dbo].[Lotes]  WITH CHECK ADD  CONSTRAINT [FK_Lotes_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[Lotes] CHECK CONSTRAINT [FK_Lotes_Producto]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categoria]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Marca] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marcas] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Marca]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Perfil] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfiles] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Perfil]
GO
/****** Objeto: StoredProcedure [dbo].[SP_Categorias_Actualizar] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Categorias_Actualizar]
    @Id int,
    @Descripcion varchar(100)
AS
BEGIN
    UPDATE [dbo].[Categorias] SET Descripcion = @Descripcion WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Categorias_Eliminar] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Categorias_Eliminar]
    @Id int
AS
BEGIN
    DELETE FROM [dbo].[Categorias] WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Categorias_Insertar] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Categorias_Insertar]
    @Descripcion varchar(100)
AS
BEGIN
    INSERT INTO [dbo].[Categorias] (Descripcion) VALUES (@Descripcion)
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Categorias_Listar] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- STORED PROCEDURES - CATEGORIAS
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Categorias_Listar]
AS
BEGIN
    SELECT Id, Descripcion FROM [dbo].[Categorias]
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Clientes_Actualizar] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Clientes_Actualizar]
(
    @ID INT,
    @DNI VARCHAR(15),
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @Direccion VARCHAR(200),
    @Telefono VARCHAR(20),
    @Email VARCHAR(150)

)
AS 
BEGIN

    UPDATE dbo.Clientes
    SET 
        DNI = @DNI,
        Nombre = @Nombre,
        Apellido = @Apellido,
        Direccion = @Direccion,
        Telefono = @Telefono,
        Email = @Email
    WHERE ID = @ID
END 
GO
/****** Objeto: StoredProcedure [dbo].[SP_Clientes_BajaLogica] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Clientes_BajaLogica]
(
    @ID INT 
)
AS 
BEGIN 
     UPDATE dbo.Clientes
     SET Estado = 0
     WHERE ID = @ID 

END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Clientes_Insertar] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Clientes_Insertar]
(   
    @DNI VARCHAR(15),
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @Direccion VARCHAR(200),
    @Telefono VARCHAR(20),
    @Email VARCHAR(150),
    @Estado BIT
)
AS
BEGIN  
    INSERT INTO dbo.Clientes
    (   
        DNI,
        Nombre,
        Apellido,
        Direccion,
        Telefono,
        Email,
        Estado
    )
    VALUES
    (
        @DNI,
        @Nombre,
        @Apellido,
        @Direccion,
        @Telefono,
        @Email,
        1
    )
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Clientes_Listar] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Clientes_Listar]
AS 
BEGIN
    SELECT *
    FROM dbo.Clientes
  
END 
GO
/****** Objeto: StoredProcedure [dbo].[SP_Compras_ActualizarTotal] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Compras_ActualizarTotal]
    @IdCompra int
AS
BEGIN
    UPDATE [dbo].[Compras]
    SET Total = (
        SELECT ISNULL(SUM(Subtotal), 0)
        FROM [dbo].[DetalleCompras]
        WHERE IdCompra = @IdCompra
    )
    WHERE Id = @IdCompra
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Compras_Insertar] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Compras_Insertar]
    @IdProveedor int,
    @IdUsuario   int,
    @NewId       int OUTPUT
AS
BEGIN
    INSERT INTO [dbo].[Compras] (IdProveedor, IdUsuario, Total)
    VALUES (@IdProveedor, @IdUsuario, 0)
    SET @NewId = SCOPE_IDENTITY()
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Compras_Listar] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- STORED PROCEDURES - COMPRAS
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Compras_Listar]
AS
BEGIN
    SELECT
        c.Id,
        c.Fecha,
        c.IdProveedor,
        p.RazonSocial AS Proveedor,
        c.IdUsuario,
        c.Total,
        c.Estado
    FROM [dbo].[Compras] c
    INNER JOIN [dbo].[Proveedores] p ON c.IdProveedor = p.ID
    WHERE c.Estado = 1
    ORDER BY c.Fecha DESC
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_DetalleCompras_Insertar] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DetalleCompras_Insertar]
    @IdCompra       int,
    @IdProducto     int,
    @Cantidad       int,
    @PrecioUnitario decimal(10,2),
    @NewId          int OUTPUT
AS
BEGIN
    INSERT INTO [dbo].[DetalleCompras] (IdCompra, IdProducto, Cantidad, PrecioUnitario)
    VALUES (@IdCompra, @IdProducto, @Cantidad, @PrecioUnitario)
    SET @NewId = SCOPE_IDENTITY()
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Lotes_Crear] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- STORED PROCEDURES - LOTES
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Lotes_Crear]
    @IdProducto      int,
    @IdDetalleCompra int,
    @Cantidad        int,
    @PrecioCompra    decimal(10,2),
    @NewId           int OUTPUT
AS
BEGIN
    INSERT INTO [dbo].[Lotes] (IdProducto, IdDetalleCompra, CantidadTotal, CantidadDisp, PrecioCompra)
    VALUES (@IdProducto, @IdDetalleCompra, @Cantidad, @Cantidad, @PrecioCompra)
    SET @NewId = SCOPE_IDENTITY()
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Lotes_DescontarStock] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Lotes_DescontarStock]
    @Id       int,
    @Cantidad int
AS
BEGIN
    UPDATE [dbo].[Lotes]
    SET CantidadDisp = CantidadDisp - @Cantidad
    WHERE Id = @Id AND CantidadDisp >= @Cantidad

    IF @@ROWCOUNT = 0
        RAISERROR('Stock insuficiente o lote no encontrado para el Id indicado.', 16, 1)
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Lotes_ListarPorProducto] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Lotes_ListarPorProducto]
    @IdProducto int
AS
BEGIN
    SELECT
        l.Id,
        l.IdProducto,
        l.IdDetalleCompra,
        l.CantidadTotal,
        l.CantidadDisp,
        l.PrecioCompra,
        l.FechaIngreso,
        prov.RazonSocial AS Proveedor
    FROM [dbo].[Lotes] l
    INNER JOIN [dbo].[DetalleCompras] dc   ON l.IdDetalleCompra = dc.Id
    INNER JOIN [dbo].[Compras]        c    ON dc.IdCompra       = c.Id
    INNER JOIN [dbo].[Proveedores]    prov ON c.IdProveedor     = prov.ID
    WHERE l.IdProducto = @IdProducto AND l.CantidadDisp > 0
    ORDER BY l.FechaIngreso ASC
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Marcas_Actualizar] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Marcas_Actualizar]
    @Id int,
    @Descripcion varchar(100)
AS
BEGIN
    UPDATE [dbo].[Marcas] SET Descripcion = @Descripcion WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Marcas_Eliminar] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Marcas_Eliminar]
    @Id int
AS
BEGIN
    DELETE FROM [dbo].[Marcas] WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Marcas_Insertar] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Marcas_Insertar]
    @Descripcion varchar(100)
AS
BEGIN
    INSERT INTO [dbo].[Marcas] (Descripcion) VALUES (@Descripcion)
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Marcas_Listar] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- STORED PROCEDURES - MARCAS
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Marcas_Listar]
AS
BEGIN
    SELECT Id, Descripcion FROM [dbo].[Marcas]
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Productos_Actualizar] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Productos_Actualizar]
    @Id int,
    @Codigo varchar(50),
    @NombreProducto varchar(150),
    @Descripcion varchar(500) = NULL,
    @Precio decimal(10,2),
    @StockMinimo int,
    @PorcentajeGanancia decimal(5,2),
    @IdMarca int,
    @IdCategoria int
AS
BEGIN
    UPDATE [dbo].[Productos]
    SET Codigo = @Codigo,
        NombreProducto = @NombreProducto,
        Descripcion = @Descripcion,
        Precio = @Precio,
        StockMinimo = @StockMinimo,
        PorcentajeGanancia = @PorcentajeGanancia,
        IdMarca = @IdMarca,
        IdCategoria = @IdCategoria
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Productos_BajaLogica] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Productos_BajaLogica]
    @Id int
AS
BEGIN
    UPDATE [dbo].[Productos]
    SET Estado = 0
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Productos_Insertar] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Productos_Insertar]
    @Codigo varchar(50),
    @NombreProducto varchar(150),
    @Descripcion varchar(500) = NULL,
    @Precio decimal(10,2),
    @StockMinimo int,
    @PorcentajeGanancia decimal(5,2),
    @IdMarca int,
    @IdCategoria int
AS
BEGIN
    INSERT INTO [dbo].[Productos]
        (Codigo, NombreProducto, Descripcion, Precio, StockMinimo, PorcentajeGanancia, IdMarca, IdCategoria)
    VALUES
        (@Codigo, @NombreProducto, @Descripcion, @Precio, @StockMinimo, @PorcentajeGanancia, @IdMarca, @IdCategoria)
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Productos_Listar] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- STORED PROCEDURES - PRODUCTOS
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Productos_Listar]
AS
BEGIN
    SELECT
        p.Id,
        p.Codigo,
        p.NombreProducto,
        p.Descripcion,
        p.StockActual,
        p.StockMinimo,
        p.Precio,
        p.PorcentajeGanancia,
        p.IdMarca,
        m.Descripcion AS Marca,
        p.IdCategoria,
        c.Descripcion AS Categoria
    FROM [dbo].[Productos] p
    INNER JOIN [dbo].[Marcas] m ON p.IdMarca = m.Id
    INNER JOIN [dbo].[Categorias] c ON p.IdCategoria = c.Id
    WHERE p.Estado = 1
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Proveedores_Actualizar] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Proveedores_Actualizar]
    @ID int,
    @RazonSocial varchar(150),
    @Cuit varchar(20),
    @Direccion varchar(200) = NULL,
    @Telefono varchar(20) = NULL,
    @Email varchar(150) = NULL
AS
BEGIN
    UPDATE [dbo].[Proveedores]
    SET RazonSocial = @RazonSocial,
        Cuit = @Cuit,
        Direccion = @Direccion,
        Telefono = @Telefono,
        Email = @Email
    WHERE ID = @ID
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Proveedores_BajaLogica] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Proveedores_BajaLogica]
    @ID int
AS
BEGIN
    UPDATE [dbo].[Proveedores] SET Estado = 0 WHERE ID = @ID
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Proveedores_Insertar] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Proveedores_Insertar]
    @RazonSocial varchar(150),
    @Cuit varchar(20),
    @Direccion varchar(200) = NULL,
    @Telefono varchar(20) = NULL,
    @Email varchar(150) = NULL
AS
BEGIN
    INSERT INTO [dbo].[Proveedores] (RazonSocial, Cuit, Direccion, Telefono, Email)
    VALUES (@RazonSocial, @Cuit, @Direccion, @Telefono, @Email)
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Proveedores_Listar] Fecha de script: 30/6/2026 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- STORED PROCEDURES - PROVEEDORES
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Proveedores_Listar]
AS
BEGIN
    SELECT ID, RazonSocial, Cuit, Direccion, Telefono, Email, Estado
    FROM [dbo].[Proveedores]
    WHERE Estado = 1
END
GO
USE [master]
GO
