USE [master]
GO
/****** Objeto: Database [tpc_P3] Fecha de script: 17/7/2026 18:13:54 ******/
CREATE DATABASE [tpc_P3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tpc_P3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\tpc_P3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tpc_P3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\tpc_P3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tpc_P3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tpc_P3]
GO
/****** Objeto: Table [dbo].[Categorias] Fecha de script: 17/7/2026 18:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Clientes] Fecha de script: 17/7/2026 18:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [varchar](15) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Direccion] [varchar](200) NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](150) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Compras] Fecha de script: 17/7/2026 18:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetalleCompras] Fecha de script: 17/7/2026 18:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCompra] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal]  AS ([Cantidad]*[PrecioUnitario]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetalleFacturas] Fecha de script: 17/7/2026 18:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFacturas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioCompra] [decimal](10, 2) NOT NULL,
	[PorcentajeGanancia] [decimal](5, 2) NOT NULL,
	[PrecioVenta] [decimal](10, 2) NOT NULL,
	[Subtotal]  AS ([Cantidad]*[PrecioVenta]) PERSISTED,
	[IdLote] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Facturas] Fecha de script: 17/7/2026 18:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroFactura] [varchar](20) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Lotes] Fecha de script: 17/7/2026 18:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdDetalleCompra] [int] NOT NULL,
	[CantidadTotal] [int] NOT NULL,
	[CantidadDisp] [int] NOT NULL,
	[PrecioCompra] [decimal](10, 2) NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Marcas] Fecha de script: 17/7/2026 18:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Perfiles] Fecha de script: 17/7/2026 18:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombrePerfil] [varchar](100) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Productos] Fecha de script: 17/7/2026 18:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[NombreProducto] [varchar](150) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[StockActual] [int] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[PorcentajeGanancia] [decimal](5, 2) NOT NULL,
	[IdMarca] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
	[UrlImagen] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PropuestasProveedor] Fecha de script: 17/7/2026 18:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropuestasProveedor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[FechaRespuesta] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Proveedores] Fecha de script: 17/7/2026 18:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RazonSocial] [varchar](150) NOT NULL,
	[Cuit] [varchar](20) NOT NULL,
	[Direccion] [varchar](200) NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](150) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 17/7/2026 18:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User] [varchar](50) NOT NULL,
	[Contrasena] [varchar](256) NOT NULL,
	[IdPerfil] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdEntidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([Id], [Descripcion]) VALUES (1, N'Indumentaria')
INSERT [dbo].[Categorias] ([Id], [Descripcion]) VALUES (2, N'Electronica')
INSERT [dbo].[Categorias] ([Id], [Descripcion]) VALUES (3, N'Calzado')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([ID], [DNI], [Nombre], [Apellido], [Direccion], [Telefono], [Email], [Estado]) VALUES (1, N'12345678', N'Juan', N'Perez', N'Calle 123', N'1122334455', N'juan@test.com', 1)
INSERT [dbo].[Clientes] ([ID], [DNI], [Nombre], [Apellido], [Direccion], [Telefono], [Email], [Estado]) VALUES (2, N'99887766', N'Juan', N'TestCliente', N'Calle Test 123', N'1234567890', N'juan@test.com', 1)
INSERT [dbo].[Clientes] ([ID], [DNI], [Nombre], [Apellido], [Direccion], [Telefono], [Email], [Estado]) VALUES (3, N'40223344', N'Maria', N'Garcia', N'Av. Corrientes 1500', N'1155667788', N'maria.garcia@mail.com', 1)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Compras] ON 

INSERT [dbo].[Compras] ([Id], [Fecha], [IdProveedor], [IdUsuario], [Total], [Estado]) VALUES (1, CAST(N'2026-06-30T21:10:24.130' AS DateTime), 1, 1, CAST(500000.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[Compras] ([Id], [Fecha], [IdProveedor], [IdUsuario], [Total], [Estado]) VALUES (2, CAST(N'2026-07-01T11:07:02.713' AS DateTime), 3, 1, CAST(4000000.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[Compras] ([Id], [Fecha], [IdProveedor], [IdUsuario], [Total], [Estado]) VALUES (3, CAST(N'2026-07-01T11:26:38.097' AS DateTime), 5, 1, CAST(7000000.00 AS Decimal(12, 2)), 1)
SET IDENTITY_INSERT [dbo].[Compras] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleCompras] ON 

INSERT [dbo].[DetalleCompras] ([Id], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (1, 1, 1, 5, CAST(100000.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleCompras] ([Id], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (2, 2, 1, 50, CAST(80000.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleCompras] ([Id], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (3, 3, 1, 100, CAST(70000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetalleCompras] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleFacturas] ON 

INSERT [dbo].[DetalleFacturas] ([Id], [IdFactura], [IdProducto], [Cantidad], [PrecioCompra], [PorcentajeGanancia], [PrecioVenta], [IdLote]) VALUES (1, 1, 1, 2, CAST(100000.00 AS Decimal(10, 2)), CAST(35.00 AS Decimal(5, 2)), CAST(135000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[DetalleFacturas] ([Id], [IdFactura], [IdProducto], [Cantidad], [PrecioCompra], [PorcentajeGanancia], [PrecioVenta], [IdLote]) VALUES (2, 2, 1, 1, CAST(100000.00 AS Decimal(10, 2)), CAST(35.00 AS Decimal(5, 2)), CAST(135000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[DetalleFacturas] ([Id], [IdFactura], [IdProducto], [Cantidad], [PrecioCompra], [PorcentajeGanancia], [PrecioVenta], [IdLote]) VALUES (3, 3, 1, 1, CAST(100000.00 AS Decimal(10, 2)), CAST(35.00 AS Decimal(5, 2)), CAST(135000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[DetalleFacturas] OFF
GO
SET IDENTITY_INSERT [dbo].[Facturas] ON 

INSERT [dbo].[Facturas] ([Id], [NumeroFactura], [Fecha], [IdCliente], [IdUsuario], [Total], [Estado]) VALUES (1, N'F20260630211315', CAST(N'2026-06-30T21:13:15.437' AS DateTime), 1, 1, CAST(270000.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[Facturas] ([Id], [NumeroFactura], [Fecha], [IdCliente], [IdUsuario], [Total], [Estado]) VALUES (2, N'F20260701105934', CAST(N'2026-07-01T10:59:35.020' AS DateTime), 2, 3, CAST(135000.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[Facturas] ([Id], [NumeroFactura], [Fecha], [IdCliente], [IdUsuario], [Total], [Estado]) VALUES (3, N'F20260701113006', CAST(N'2026-07-01T11:30:06.293' AS DateTime), 3, 6, CAST(135000.00 AS Decimal(12, 2)), 1)
SET IDENTITY_INSERT [dbo].[Facturas] OFF
GO
SET IDENTITY_INSERT [dbo].[Lotes] ON 

INSERT [dbo].[Lotes] ([Id], [IdProducto], [IdDetalleCompra], [CantidadTotal], [CantidadDisp], [PrecioCompra], [FechaIngreso]) VALUES (1, 1, 1, 5, 0, CAST(100000.00 AS Decimal(10, 2)), CAST(N'2026-06-30T21:10:24.180' AS DateTime))
INSERT [dbo].[Lotes] ([Id], [IdProducto], [IdDetalleCompra], [CantidadTotal], [CantidadDisp], [PrecioCompra], [FechaIngreso]) VALUES (2, 1, 2, 50, 50, CAST(80000.00 AS Decimal(10, 2)), CAST(N'2026-07-01T11:07:02.767' AS DateTime))
INSERT [dbo].[Lotes] ([Id], [IdProducto], [IdDetalleCompra], [CantidadTotal], [CantidadDisp], [PrecioCompra], [FechaIngreso]) VALUES (3, 1, 3, 100, 100, CAST(70000.00 AS Decimal(10, 2)), CAST(N'2026-07-01T11:26:38.153' AS DateTime))
SET IDENTITY_INSERT [dbo].[Lotes] OFF
GO
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([Id], [Descripcion]) VALUES (1, N'Nike')
INSERT [dbo].[Marcas] ([Id], [Descripcion]) VALUES (2, N'Adidas')
INSERT [dbo].[Marcas] ([Id], [Descripcion]) VALUES (3, N'Puma')
SET IDENTITY_INSERT [dbo].[Marcas] OFF
GO
SET IDENTITY_INSERT [dbo].[Perfiles] ON 

INSERT [dbo].[Perfiles] ([Id], [NombrePerfil], [Estado]) VALUES (1, N'Administrador', 1)
INSERT [dbo].[Perfiles] ([Id], [NombrePerfil], [Estado]) VALUES (2, N'Vendedor', 1)
INSERT [dbo].[Perfiles] ([Id], [NombrePerfil], [Estado]) VALUES (3, N'Cliente', 1)
SET IDENTITY_INSERT [dbo].[Perfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Codigo], [NombreProducto], [Descripcion], [StockActual], [StockMinimo], [Precio], [PorcentajeGanancia], [IdMarca], [IdCategoria], [Estado], [UrlImagen]) VALUES (1, N'P0001', N'Zapatillas Running', N'Zapatillas para running de uso diario', 300, 10, CAST(8500.00 AS Decimal(10, 2)), CAST(35.00 AS Decimal(5, 2)), 1, 1, 1, N'~/Images/Productos/zapatilla running.jpg')
INSERT [dbo].[Productos] ([Id], [Codigo], [NombreProducto], [Descripcion], [StockActual], [StockMinimo], [Precio], [PorcentajeGanancia], [IdMarca], [IdCategoria], [Estado], [UrlImagen]) VALUES (2, N'P0002', N'Remera Running Dri-Fit', N'Remera deportiva de secado rapido, ideal para entrenamiento', 0, 5, CAST(4500.00 AS Decimal(10, 2)), CAST(40.00 AS Decimal(5, 2)), 1, 1, 1, N'~/Images/Productos/Remera Running.jpg')
INSERT [dbo].[Productos] ([Id], [Codigo], [NombreProducto], [Descripcion], [StockActual], [StockMinimo], [Precio], [PorcentajeGanancia], [IdMarca], [IdCategoria], [Estado], [UrlImagen]) VALUES (3, N'P0003', N'Campera Rompevientos', N'Campera liviana impermeable para actividades al aire libre', 0, 3, CAST(12000.00 AS Decimal(10, 2)), CAST(35.00 AS Decimal(5, 2)), 2, 1, 1, N'~/Images/Productos/Campera Rompevientos.jpg')
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[PropuestasProveedor] ON 

INSERT [dbo].[PropuestasProveedor] ([Id], [IdProveedor], [IdProducto], [Cantidad], [PrecioUnitario], [Estado], [Fecha], [FechaRespuesta]) VALUES (1, 3, 1, 50, CAST(80000.00 AS Decimal(18, 2)), N'Aprobado', CAST(N'2026-07-01T11:00:50.807' AS DateTime), NULL)
INSERT [dbo].[PropuestasProveedor] ([Id], [IdProveedor], [IdProducto], [Cantidad], [PrecioUnitario], [Estado], [Fecha], [FechaRespuesta]) VALUES (2, 3, 1, 50, CAST(80000.00 AS Decimal(18, 2)), N'Pendiente', CAST(N'2026-07-01T11:05:16.353' AS DateTime), NULL)
INSERT [dbo].[PropuestasProveedor] ([Id], [IdProveedor], [IdProducto], [Cantidad], [PrecioUnitario], [Estado], [Fecha], [FechaRespuesta]) VALUES (3, 5, 1, 100, CAST(70000.00 AS Decimal(18, 2)), N'Aprobado', CAST(N'2026-07-01T11:21:09.217' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[PropuestasProveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([ID], [RazonSocial], [Cuit], [Direccion], [Telefono], [Email], [Estado]) VALUES (1, N'Distribuidora Mayorista S.A.', N'30-12345678-9', N'Av. Corrientes 1234', N'011-4567-8901', N'ventas@distribuidora.com', 1)
INSERT [dbo].[Proveedores] ([ID], [RazonSocial], [Cuit], [Direccion], [Telefono], [Email], [Estado]) VALUES (2, N'Proveedor Test SA', N'30-99999999-1', NULL, NULL, NULL, 1)
INSERT [dbo].[Proveedores] ([ID], [RazonSocial], [Cuit], [Direccion], [Telefono], [Email], [Estado]) VALUES (3, N'Distribuidora Test SA', N'30-99887766-5', N'Av Test 456', N'1198765432', N'proveedor@test.com', 1)
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [User], [Contrasena], [IdPerfil], [Estado], [IdEntidad]) VALUES (1, N'admin', N'admin123', 1, 1, 0)
INSERT [dbo].[Usuarios] ([Id], [User], [Contrasena], [IdPerfil], [Estado], [IdEntidad]) VALUES (2, N'vendedor', N'venta123', 2, 1, 0)
INSERT [dbo].[Usuarios] ([Id], [User], [Contrasena], [IdPerfil], [Estado], [IdEntidad]) VALUES (3, N'juan.test.cliente', N'Test1234', 3, 1, 2)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Clientes__C035B8DD96792050] Fecha de script: 17/7/2026 18:13:55 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Facturas__CF12F9A6997BBC1F] Fecha de script: 17/7/2026 18:13:55 ******/
ALTER TABLE [dbo].[Facturas] ADD UNIQUE NONCLUSTERED 
(
	[NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Producto__06370DACD0057138] Fecha de script: 17/7/2026 18:13:55 ******/
ALTER TABLE [dbo].[Productos] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Proveedo__AFA9178612677747] Fecha de script: 17/7/2026 18:13:55 ******/
ALTER TABLE [dbo].[Proveedores] ADD UNIQUE NONCLUSTERED 
(
	[Cuit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuarios__BD20C6F156A699A7] Fecha de script: 17/7/2026 18:13:55 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Lotes] ADD  DEFAULT (getdate()) FOR [FechaIngreso]
GO
ALTER TABLE [dbo].[Perfiles] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [StockActual]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Precio]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [PorcentajeGanancia]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[PropuestasProveedor] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[PropuestasProveedor] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [IdEntidad]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Proveedor] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedores] ([ID])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Proveedor]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Usuario]
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompras_Compra] FOREIGN KEY([IdCompra])
REFERENCES [dbo].[Compras] ([Id])
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_DetalleCompras_Compra]
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompras_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_DetalleCompras_Producto]
GO
ALTER TABLE [dbo].[DetalleFacturas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFacturas_Factura] FOREIGN KEY([IdFactura])
REFERENCES [dbo].[Facturas] ([Id])
GO
ALTER TABLE [dbo].[DetalleFacturas] CHECK CONSTRAINT [FK_DetalleFacturas_Factura]
GO
ALTER TABLE [dbo].[DetalleFacturas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFacturas_Lote] FOREIGN KEY([IdLote])
REFERENCES [dbo].[Lotes] ([Id])
GO
ALTER TABLE [dbo].[DetalleFacturas] CHECK CONSTRAINT [FK_DetalleFacturas_Lote]
GO
ALTER TABLE [dbo].[DetalleFacturas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFacturas_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetalleFacturas] CHECK CONSTRAINT [FK_DetalleFacturas_Producto]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([ID])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Cliente]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Usuario]
GO
ALTER TABLE [dbo].[Lotes]  WITH CHECK ADD  CONSTRAINT [FK_Lotes_DetalleCompra] FOREIGN KEY([IdDetalleCompra])
REFERENCES [dbo].[DetalleCompras] ([Id])
GO
ALTER TABLE [dbo].[Lotes] CHECK CONSTRAINT [FK_Lotes_DetalleCompra]
GO
ALTER TABLE [dbo].[Lotes]  WITH CHECK ADD  CONSTRAINT [FK_Lotes_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[Lotes] CHECK CONSTRAINT [FK_Lotes_Producto]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categoria]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Marca] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marcas] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Marca]
GO
ALTER TABLE [dbo].[PropuestasProveedor]  WITH CHECK ADD  CONSTRAINT [FK_Propuestas_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[PropuestasProveedor] CHECK CONSTRAINT [FK_Propuestas_Producto]
GO
ALTER TABLE [dbo].[PropuestasProveedor]  WITH CHECK ADD  CONSTRAINT [FK_Propuestas_Proveedor] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedores] ([ID])
GO
ALTER TABLE [dbo].[PropuestasProveedor] CHECK CONSTRAINT [FK_Propuestas_Proveedor]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Perfil] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfiles] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Perfil]
GO
/****** Objeto: StoredProcedure [dbo].[SP_Categorias_Actualizar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Categorias_Actualizar]
    @Id int,
    @Descripcion varchar(100)
AS
BEGIN
    UPDATE [dbo].[Categorias] SET Descripcion = @Descripcion WHERE Id = @Id
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Categorias_Eliminar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Categorias_Eliminar]
    @Id int
AS
BEGIN
    DELETE FROM [dbo].[Categorias] WHERE Id = @Id
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Categorias_Insertar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Categorias_Insertar]
    @Descripcion varchar(100)
AS
BEGIN
    INSERT INTO [dbo].[Categorias] (Descripcion) VALUES (@Descripcion)
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Categorias_Listar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- STORED PROCEDURES - CATEGORIAS
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Categorias_Listar]
AS
BEGIN
    SELECT Id, Descripcion FROM [dbo].[Categorias]
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Categorias_ListarPaginado] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Categorias_ListarPaginado]
( 
   @PageNumber INT,
   @PageSize INT,
   @Busqueda VARCHAR(100) = NULL
)
AS 
BEGIN
    SET NOCOUNT ON; 

    IF @PageNumber <1
        SET @PageNumber = 1; 
    IF @PageSize <1
        SET @PageSize = 10; 

    SELECT 
        Id,
        Descripcion,
        COUNT(*) OVER() AS TotalRegistros
    FROM [dbo].Categorias
    WHERE
            @Busqueda IS NULL
            OR Descripcion LIKE '%' + @Busqueda + '%'
    ORDER BY Id

    OFFSET (@PageNumber -1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY; 
END 
GO
/****** Objeto: StoredProcedure [dbo].[SP_Clientes_Actualizar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Clientes_Actualizar]
(
    @ID        int,
    @DNI       varchar(15),
    @Nombre    varchar(100),
    @Apellido  varchar(100),
    @Direccion varchar(200),
    @Telefono  varchar(20),
    @Email     varchar(150)
)
AS
BEGIN
    UPDATE [dbo].[Clientes]
    SET DNI       = @DNI,
        Nombre    = @Nombre,
        Apellido  = @Apellido,
        Direccion = @Direccion,
        Telefono  = @Telefono,
        Email     = @Email
    WHERE ID = @ID
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Clientes_BajaLogica] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Clientes_BajaLogica]
    @ID int
AS
BEGIN
    UPDATE [dbo].[Clientes] SET Estado = 0 WHERE ID = @ID
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Clientes_Insertar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 2. SP_Clientes_Insertar: devolver el nuevo ID generado
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Clientes_Insertar]
(
    @DNI       varchar(15),
    @Nombre    varchar(100),
    @Apellido  varchar(100),
    @Direccion varchar(200),
    @Telefono  varchar(20),
    @Email     varchar(150),
    @Estado    bit,
    @NewId     int OUTPUT
)
AS
BEGIN
    INSERT INTO [dbo].[Clientes] (DNI, Nombre, Apellido, Direccion, Telefono, Email, Estado)
    VALUES (@DNI, @Nombre, @Apellido, @Direccion, @Telefono, @Email, 1)
    SET @NewId = SCOPE_IDENTITY()
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Clientes_Listar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- STORED PROCEDURES - CLIENTES
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Clientes_Listar]
AS
BEGIN
    SELECT * FROM [dbo].[Clientes]
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Compras_ActualizarTotal] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Compras_ActualizarTotal]
    @IdCompra int
AS
BEGIN
    UPDATE [dbo].[Compras]
    SET Total = (
        SELECT ISNULL(SUM(Subtotal), 0)
        FROM [dbo].[DetalleCompras]
        WHERE IdCompra = @IdCompra
    )
    WHERE Id = @IdCompra
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Compras_Insertar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Compras_Insertar]
    @IdProveedor int,
    @IdUsuario   int,
    @NewId       int OUTPUT
AS
BEGIN
    INSERT INTO [dbo].[Compras] (IdProveedor, IdUsuario, Total)
    VALUES (@IdProveedor, @IdUsuario, 0)
    SET @NewId = SCOPE_IDENTITY()
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Compras_Listar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- STORED PROCEDURES - COMPRAS
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Compras_Listar]
AS
BEGIN
    SELECT
        c.Id,
        c.Fecha,
        c.IdProveedor,
        p.RazonSocial AS Proveedor,
        c.IdUsuario,
        c.Total,
        c.Estado
    FROM [dbo].[Compras] c
    INNER JOIN [dbo].[Proveedores] p ON c.IdProveedor = p.ID
    WHERE c.Estado = 1
    ORDER BY c.Fecha DESC
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Compras_ListarPorProveedor] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 6. Listar compras de un proveedor especÃ­fico (para portal proveedor)
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Compras_ListarPorProveedor]
    @IdProveedor int
AS
BEGIN
    SELECT
        c.Id,
        c.Fecha,
        c.Total,
        ISNULL((SELECT SUM(dc.Cantidad) FROM DetalleCompras dc WHERE dc.IdCompra = c.Id), 0) AS CantidadTotal
    FROM Compras c
    WHERE c.IdProveedor = @IdProveedor
      AND c.Estado = 1
    ORDER BY c.Fecha DESC
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Compras_ObtenerPorId] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_Compras_ObtenerPorId] (@Id INT)
AS BEGIN
    SELECT c.Id, c.Fecha, c.Total, c.IdProveedor,
           p.RazonSocial, p.Cuit, p.Direccion, p.Telefono, p.Email
    FROM Compras c
    INNER JOIN Proveedores p ON c.IdProveedor = p.ID
    WHERE c.Id = @Id
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_DetalleCompras_Insertar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DetalleCompras_Insertar]
    @IdCompra       int,
    @IdProducto     int,
    @Cantidad       int,
    @PrecioUnitario decimal(10,2),
    @NewId          int OUTPUT
AS
BEGIN
    INSERT INTO [dbo].[DetalleCompras] (IdCompra, IdProducto, Cantidad, PrecioUnitario)
    VALUES (@IdCompra, @IdProducto, @Cantidad, @PrecioUnitario)
    SET @NewId = SCOPE_IDENTITY()
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_DetalleCompras_ListarPorCompra] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_DetalleCompras_ListarPorCompra] (@IdCompra INT)
AS BEGIN
    SELECT dc.Id, dc.Cantidad, dc.PrecioUnitario, dc.Subtotal,
           pr.Id AS IdProducto, pr.NombreProducto
    FROM DetalleCompras dc
    INNER JOIN Productos pr ON dc.IdProducto = pr.Id
    WHERE dc.IdCompra = @IdCompra
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Lotes_Crear] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- STORED PROCEDURES - LOTES
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Lotes_Crear]
    @IdProducto      int,
    @IdDetalleCompra int,
    @Cantidad        int,
    @PrecioCompra    decimal(10,2),
    @NewId           int OUTPUT
AS
BEGIN
    INSERT INTO [dbo].[Lotes] (IdProducto, IdDetalleCompra, CantidadTotal, CantidadDisp, PrecioCompra)
    VALUES (@IdProducto, @IdDetalleCompra, @Cantidad, @Cantidad, @PrecioCompra)
    SET @NewId = SCOPE_IDENTITY()
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Lotes_DescontarStock] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Lotes_DescontarStock]
    @Id       int,
    @Cantidad int
AS
BEGIN
    UPDATE [dbo].[Lotes]
    SET CantidadDisp = CantidadDisp - @Cantidad
    WHERE Id = @Id AND CantidadDisp >= @Cantidad

    IF @@ROWCOUNT = 0
        RAISERROR('Stock insuficiente o lote no encontrado para el Id indicado.', 16, 1)
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Lotes_ListarPorProducto] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Lotes_ListarPorProducto]
    @IdProducto int
AS
BEGIN
    SELECT
        l.Id,
        l.IdProducto,
        l.IdDetalleCompra,
        l.CantidadTotal,
        l.CantidadDisp,
        l.PrecioCompra,
        l.FechaIngreso,
        prov.RazonSocial AS Proveedor
    FROM [dbo].[Lotes] l
    INNER JOIN [dbo].[DetalleCompras] dc   ON l.IdDetalleCompra = dc.Id
    INNER JOIN [dbo].[Compras]        c    ON dc.IdCompra       = c.Id
    INNER JOIN [dbo].[Proveedores]    prov ON c.IdProveedor     = prov.ID
    WHERE l.IdProducto = @IdProducto AND l.CantidadDisp > 0
    ORDER BY l.FechaIngreso ASC
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Marcas_Actualizar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Marcas_Actualizar]
    @Id int,
    @Descripcion varchar(100)
AS
BEGIN
    UPDATE [dbo].[Marcas] SET Descripcion = @Descripcion WHERE Id = @Id
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Marcas_Eliminar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Marcas_Eliminar]
    @Id int
AS
BEGIN
    DELETE FROM [dbo].[Marcas] WHERE Id = @Id
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Marcas_Insertar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Marcas_Insertar]
    @Descripcion varchar(100)
AS
BEGIN
    INSERT INTO [dbo].[Marcas] (Descripcion) VALUES (@Descripcion)
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Marcas_Listar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- STORED PROCEDURES - MARCAS
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Marcas_Listar]
AS
BEGIN
    SELECT Id, Descripcion FROM [dbo].[Marcas]
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Marcas_ListarPaginado] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Marcas_ListarPaginado]
( 
   @PageNumber INT,
   @PageSize INT,
   @Busqueda VARCHAR(100) = NULL
)
AS 
BEGIN
    SET NOCOUNT ON; 

    IF @PageNumber <1
        SET @PageNumber = 1; 
    IF @PageSize <1
        SET @PageSize = 10; 

    SELECT 
        Id,
        Descripcion,
        COUNT(*) OVER() AS TotalRegistros
    FROM [dbo].Marcas
    WHERE
            @Busqueda IS NULL
            OR Descripcion LIKE '%' + @Busqueda + '%'
    ORDER BY Id

    OFFSET (@PageNumber -1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY; 
END 
GO
/****** Objeto: StoredProcedure [dbo].[SP_Perfiles_Listar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- STORED PROCEDURES - PERFILES
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Perfiles_Listar]
AS
BEGIN
    SELECT Id, NombrePerfil FROM [dbo].[Perfiles] WHERE Estado = 1
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Productos_Actualizar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_Productos_Actualizar]
    @Id                 int,
    @Codigo             varchar(50),
    @NombreProducto     varchar(150),
    @Descripcion        varchar(500) = NULL,
    @UrlImagen          varchar(300) = NULL,
    @Precio             decimal(10,2),
    @StockMinimo        int,
    @PorcentajeGanancia decimal(5,2),
    @IdMarca            int,
    @IdCategoria        int
AS
BEGIN
    UPDATE [dbo].[Productos]
    SET Codigo             = @Codigo,
        NombreProducto     = @NombreProducto,
        Descripcion        = @Descripcion,
        UrlImagen          = @UrlImagen,
        Precio             = @Precio,
        StockMinimo        = @StockMinimo,
        PorcentajeGanancia = @PorcentajeGanancia,
        IdMarca            = @IdMarca,
        IdCategoria        = @IdCategoria
    WHERE Id = @Id
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Productos_BajaLogica] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Productos_BajaLogica]
    @Id int
AS
BEGIN
    UPDATE [dbo].[Productos] SET Estado = 0 WHERE Id = @Id
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Productos_Insertar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Productos_Insertar]
    @Codigo             varchar(50),
    @NombreProducto     varchar(150),
    @Descripcion        varchar(500) = NULL,
    @UrlImagen          varchar(300) = NULL,
    @Precio             decimal(10,2),
    @StockMinimo        int,
    @PorcentajeGanancia decimal(5,2),
    @IdMarca            int,
    @IdCategoria        int
AS
BEGIN
    INSERT INTO [dbo].[Productos]
        (Codigo, NombreProducto, Descripcion, UrlImagen, Precio, StockMinimo, PorcentajeGanancia, IdMarca, IdCategoria)
    VALUES
        (@Codigo, @NombreProducto, @Descripcion, @UrlImagen, @Precio, @StockMinimo, @PorcentajeGanancia, @IdMarca, @IdCategoria)
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Productos_Listar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Productos_Listar]
AS
BEGIN
    SELECT
        p.Id,
        p.Codigo,
        p.NombreProducto,
        p.Descripcion,
        p.UrlImagen,
        p.StockActual,
        p.StockMinimo,
        p.Precio,
        p.PorcentajeGanancia,
        p.IdMarca,
        m.Descripcion AS Marca,
        p.IdCategoria,
        c.Descripcion AS Categoria
    FROM [dbo].[Productos] p
    INNER JOIN [dbo].[Marcas]     m ON p.IdMarca     = m.Id
    INNER JOIN [dbo].[Categorias] c ON p.IdCategoria = c.Id
    WHERE p.Estado = 1
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Productos_ListarPaginado] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Productos_ListarPaginado]
( 
   @PageNumber INT,
   @PageSize INT,
   @Busqueda VARCHAR(100) = NULL
)
AS 
BEGIN
    SET NOCOUNT ON; 

    IF @PageNumber <1
        SET @PageNumber = 1; 
    IF @PageSize <1
        SET @PageSize = 10; 

    SELECT 
        p.Id,
        p.Codigo,
        p.NombreProducto,
        p.Descripcion,
        p.UrlImagen,
        p.StockActual,
        p.StockMinimo,
        p.Precio,
        p.PorcentajeGanancia,
        p.IdMarca,
        m.Descripcion AS Marca,
        p.IdCategoria,
        c.Descripcion AS Categoria,
        COUNT(*) OVER() AS TotalRegistros
    FROM [dbo].[Productos] p
    INNER JOIN [dbo].[Marcas]     m ON p.IdMarca     = m.Id
    INNER JOIN [dbo].[Categorias] c ON p.IdCategoria = c.Id
    WHERE p.Estado = 1
        AND (
            @Busqueda IS NULL
            OR p.Codigo LIKE '%' + @Busqueda + '%'
            OR p.NombreProducto LIKE '%' + @Busqueda + '%'
            )

    ORDER BY p.Id

    OFFSET (@PageNumber -1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY; 
END 
GO
/****** Objeto: StoredProcedure [dbo].[SP_Propuestas_Aprobar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Propuestas_Aprobar]
@Id int 
AS 
BEGIN    
    UPDATE [dbo].[PropuestasProveedor]
    SET Estado = 'Aprobado',
        FechaRespuesta = GETDATE()
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Propuestas_Insertar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 8. SPs de PropuestasProveedor
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Propuestas_Insertar]
    @IdProveedor   int,
    @IdProducto    int,
    @Cantidad      int,
    @PrecioUnitario decimal(18,2)
AS
BEGIN
    INSERT INTO [dbo].[PropuestasProveedor] (IdProveedor, IdProducto, Cantidad, PrecioUnitario)
    VALUES (@IdProveedor, @IdProducto, @Cantidad, @PrecioUnitario)
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Propuestas_ListarPendientes] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Propuestas_ListarPendientes]
AS
BEGIN
    SELECT pp.Id, pp.Cantidad, pp.PrecioUnitario, pp.Estado, pp.Fecha,
           p.Id AS IdProducto, p.NombreProducto,
           pr.ID AS IdProveedor, pr.RazonSocial
    FROM PropuestasProveedor pp
    INNER JOIN Productos   p  ON pp.IdProducto  = p.Id
    INNER JOIN Proveedores pr ON pp.IdProveedor = pr.ID
    WHERE pp.Estado = 'Pendiente'
    ORDER BY pp.Fecha ASC
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Propuestas_ListarPorProveedor] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Propuestas_ListarPorProveedor]
    @IdProveedor int
AS
BEGIN
    SELECT pp.Id, pp.Cantidad, pp.PrecioUnitario, pp.Estado, pp.Fecha,pp.FechaRespuesta,
           p.NombreProducto
    FROM PropuestasProveedor pp
    INNER JOIN Productos p ON pp.IdProducto = p.Id
    WHERE pp.IdProveedor = @IdProveedor
    ORDER BY pp.Fecha DESC
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Propuestas_ObtenerPorId] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Propuestas_ObtenerPorId]
    @Id int
AS 
BEGIN 
    SELECT pp.Id, pp.IdProveedor, pp.IdProducto, pp.Cantidad, pp.PrecioUnitario, pp.Estado, pp.Fecha,pp.FechaRespuesta,
           p.NombreProducto, pr.RazonSocial
    FROM PropuestasProveedor pp
    INNER JOIN Productos   p  ON pp.IdProducto  = p.Id
    INNER JOIN Proveedores pr ON pp.IdProveedor = pr.ID
    WHERE pp.Id = @Id
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Propuestas_Rechazar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Propuestas_Rechazar]
    @Id int 
AS 
BEGIN    
    UPDATE [dbo].[PropuestasProveedor]
    SET Estado = 'Rechazada',
        FechaRespuesta = GETDATE()
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Proveedores_Actualizar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Proveedores_Actualizar]
    @ID          int,
    @RazonSocial varchar(150),
    @Cuit        varchar(20),
    @Direccion   varchar(200) = NULL,
    @Telefono    varchar(20)  = NULL,
    @Email       varchar(150) = NULL
AS
BEGIN
    UPDATE [dbo].[Proveedores]
    SET RazonSocial = @RazonSocial,
        Cuit        = @Cuit,
        Direccion   = @Direccion,
        Telefono    = @Telefono,
        Email       = @Email
    WHERE ID = @ID
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Proveedores_BajaLogica] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Proveedores_BajaLogica]
    @ID int
AS
BEGIN
    UPDATE [dbo].[Proveedores] SET Estado = 0 WHERE ID = @ID
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Proveedores_Insertar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 3. SP_Proveedores_Insertar: devolver el nuevo ID generado
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Proveedores_Insertar]
    @RazonSocial varchar(150),
    @Cuit        varchar(20),
    @Direccion   varchar(200) = NULL,
    @Telefono    varchar(20)  = NULL,
    @Email       varchar(150) = NULL,
    @NewId       int OUTPUT
AS
BEGIN
    INSERT INTO [dbo].[Proveedores] (RazonSocial, Cuit, Direccion, Telefono, Email)
    VALUES (@RazonSocial, @Cuit, @Direccion, @Telefono, @Email)
    SET @NewId = SCOPE_IDENTITY()
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Proveedores_Listar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- STORED PROCEDURES - PROVEEDORES
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Proveedores_Listar]
AS
BEGIN
    SELECT ID, RazonSocial, Cuit, Direccion, Telefono, Email, Estado
    FROM [dbo].[Proveedores]
    WHERE Estado = 1
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Trazabilidad_Lotes] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Trazabilidad_Lotes]
    @IdProducto INT
AS
BEGIN
    SELECT
        l.Id,
        l.FechaIngreso,
        prov.RazonSocial AS Proveedor,
        l.CantidadTotal,
        l.CantidadDisp,
        l.PrecioCompra,
        (l.CantidadTotal * l.PrecioCompra) AS PrecioTotal
    FROM Lotes l
    INNER JOIN DetalleCompras dc  ON l.IdDetalleCompra = dc.Id
    INNER JOIN Compras c          ON dc.IdCompra       = c.Id
    INNER JOIN Proveedores prov   ON c.IdProveedor     = prov.ID
    WHERE l.IdProducto = @IdProducto
    ORDER BY l.FechaIngreso ASC
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Trazabilidad_Ventas] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_Trazabilidad_Ventas]
    @IdProducto INT
AS
BEGIN
    SELECT
        df.IdLote,
        f.NumeroFactura,
        f.Fecha                              AS FechaVenta,
        cli.Nombre + ' ' + cli.Apellido      AS Cliente,
        df.Cantidad,
        df.PrecioVenta,
        df.Subtotal
    FROM DetalleFacturas df
    INNER JOIN Facturas f   ON df.IdFactura  = f.Id
    INNER JOIN Clientes cli ON f.IdCliente   = cli.ID
    WHERE df.IdProducto = @IdProducto
      AND df.IdLote IS NOT NULL
    ORDER BY df.IdLote, f.Fecha
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Usuarios_Actualizar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Actualizar usuario y perfil (gestiÃ³n de usuarios - administrador)
CREATE PROCEDURE [dbo].[SP_Usuarios_Actualizar]
    @Id       int,
    @User     varchar(50),
    @IdPerfil int
AS
BEGIN
    UPDATE [dbo].[Usuarios]
    SET [User]   = @User,
        IdPerfil = @IdPerfil
    WHERE Id = @Id
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Usuarios_ActualizarContrasena] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Actualizar solo la contraseÃ±a (sin validar la anterior - uso administrativo)
CREATE PROCEDURE [dbo].[SP_Usuarios_ActualizarContrasena]
    @Id            int,
    @ContrasenaHash varchar(256)
AS
BEGIN
    UPDATE [dbo].[Usuarios] SET Contrasena = @ContrasenaHash WHERE Id = @Id
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Usuarios_Agregar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 4. SP_Usuarios_Agregar: aceptar IdEntidad opcional
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Usuarios_Agregar]
    @User       varchar(50),
    @Contrasena varchar(256),
    @IdPerfil   int,
    @Estado     bit,
    @IdEntidad  int = 0
AS
BEGIN
    INSERT INTO [dbo].[Usuarios] ([User], Contrasena, IdPerfil, Estado, IdEntidad)
    VALUES (@User, @Contrasena, @IdPerfil, @Estado, @IdEntidad)
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Usuarios_BajaLogica] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Usuarios_BajaLogica]
    @Id int
AS
BEGIN
    UPDATE [dbo].[Usuarios] SET Estado = 0 WHERE Id = @Id
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Usuarios_CambiarContrasena] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Cambio de contraseÃ±a validando la contraseÃ±a actual
CREATE PROCEDURE [dbo].[SP_Usuarios_CambiarContrasena]
    @Id              int,
    @ContrasenaActual varchar(256),
    @ContrasenaNueva  varchar(256)
AS
BEGIN
    UPDATE [dbo].[Usuarios]
    SET Contrasena = @ContrasenaNueva
    WHERE Id          = @Id
      AND Contrasena  = @ContrasenaActual
      AND Estado      = 1
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Usuarios_Insertar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Insertar usuario desde gestiÃ³n administrativa (sin @Estado, estado por defecto 1)
CREATE PROCEDURE [dbo].[SP_Usuarios_Insertar]
    @User           varchar(50),
    @ContrasenaHash varchar(256),
    @IdPerfil       int
AS
BEGIN
    INSERT INTO [dbo].[Usuarios] ([User], Contrasena, IdPerfil)
    VALUES (@User, @ContrasenaHash, @IdPerfil)
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Usuarios_Listar] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Usuarios_Listar]
AS
BEGIN
    SELECT u.Id, u.[User], u.IdPerfil, p.NombrePerfil, u.Estado
    FROM [dbo].[Usuarios] u
    INNER JOIN [dbo].[Perfiles] p ON u.IdPerfil = p.Id
    WHERE u.Estado = 1
END

GO
/****** Objeto: StoredProcedure [dbo].[SP_Usuarios_Login] Fecha de script: 17/7/2026 18:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 5. SP_Usuarios_Login: incluir IdEntidad en el resultado
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Usuarios_Login]
    @User       varchar(50),
    @Contrasena varchar(256)
AS
BEGIN
    SELECT
        U.[Id],
        U.[User],
        U.[Contrasena],
        U.[Estado],
        U.[IdEntidad],
        P.Id        AS IdPerfil,
        P.NombrePerfil
    FROM [dbo].[Usuarios] U
    INNER JOIN [dbo].[Perfiles] P ON U.IdPerfil = P.Id
    WHERE U.[User]      = @User
      AND U.Contrasena  = @Contrasena
      AND U.Estado      = 1
END

GO
USE [master]
GO
