USE [master]
GO
/****** Objeto: Database [tpc_P3] Fecha de script: 30/6/2026 19:32:26 ******/
CREATE DATABASE [tpc_P3] ON  PRIMARY 
( NAME = N'tpc_P3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\tpc_P3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tpc_P3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\tpc_P3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tpc_P3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tpc_P3]
GO
/****** Objeto: Table [dbo].[Categorias] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Clientes] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [varchar](15) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Direccion] [varchar](200) NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](150) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Compras] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetalleCompras] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCompra] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal]  AS ([Cantidad]*[PrecioUnitario]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetalleFacturas] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFacturas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioCompra] [decimal](10, 2) NOT NULL,
	[PorcentajeGanancia] [decimal](5, 2) NOT NULL,
	[PrecioVenta] [decimal](10, 2) NOT NULL,
	[Subtotal]  AS ([Cantidad]*[PrecioVenta]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Facturas] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroFactura] [varchar](20) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Marcas] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Perfiles] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombrePerfil] [varchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Productos] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[NombreProducto] [varchar](150) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[StockActual] [int] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[PorcentajeGanancia] [decimal](5, 2) NOT NULL,
	[IdMarca] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Proveedores] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RazonSocial] [varchar](150) NOT NULL,
	[Cuit] [varchar](20) NOT NULL,
	[Direccion] [varchar](200) NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](150) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User] [varchar](50) NOT NULL,
	[Contrasena] [varchar](256) NOT NULL,
	[IdPerfil] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([Id], [Descripcion]) VALUES (1, N'Indumentaria')
INSERT [dbo].[Categorias] ([Id], [Descripcion]) VALUES (2, N'Indumentaria')
INSERT [dbo].[Categorias] ([Id], [Descripcion]) VALUES (1002, N'Indumentaria')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([ID], [DNI], [Nombre], [Apellido], [Direccion], [Telefono], [Email], [Estado]) VALUES (1, N'12345678', N'Juan Manuel', N'Perez', N'Calle 123', N'1122334455', N'juan@test.com', 0)
INSERT [dbo].[Clientes] ([ID], [DNI], [Nombre], [Apellido], [Direccion], [Telefono], [Email], [Estado]) VALUES (3, N'35425036', N'Paula', N'Perez ', N'Moron 3314', N'1145678932', N'paulaperez@gmail.com', 1)
INSERT [dbo].[Clientes] ([ID], [DNI], [Nombre], [Apellido], [Direccion], [Telefono], [Email], [Estado]) VALUES (4, N'28456789', N'María Ines ', N'González', N'Av. Rivadavia 1250', N'1134567890', N'maria.gonzalez@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([Id], [Descripcion]) VALUES (1, N'Nike')
INSERT [dbo].[Marcas] ([Id], [Descripcion]) VALUES (2, N'Nike')
INSERT [dbo].[Marcas] ([Id], [Descripcion]) VALUES (1002, N'Nike')
SET IDENTITY_INSERT [dbo].[Marcas] OFF
GO
SET IDENTITY_INSERT [dbo].[Perfiles] ON 

INSERT [dbo].[Perfiles] ([Id], [NombrePerfil], [Estado]) VALUES (1, N'Administrador', 1)
INSERT [dbo].[Perfiles] ([Id], [NombrePerfil], [Estado]) VALUES (2, N'Vendedor', 1)
INSERT [dbo].[Perfiles] ([Id], [NombrePerfil], [Estado]) VALUES (3, N'Cliente', 1)
SET IDENTITY_INSERT [dbo].[Perfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Codigo], [NombreProducto], [Descripcion], [StockActual], [StockMinimo], [PorcentajeGanancia], [IdMarca], [IdCategoria], [Estado]) VALUES (1, N'P0001', N'Zapatillas Running', N'Zapatillas para running de uso diario', 50, 10, CAST(35.00 AS Decimal(5, 2)), 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([ID], [RazonSocial], [Cuit], [Direccion], [Telefono], [Email], [Estado]) VALUES (1, N'Distribuidora Mayorista S.A.', N'30-12345678-9', N'Av. Corrientes 1234', N'011-4567-8901', N'ventas@distribuidora.com', 1)
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [User], [Contrasena], [IdPerfil], [Estado]) VALUES (1, N'admin', N'admin456', 1, 1)
INSERT [dbo].[Usuarios] ([Id], [User], [Contrasena], [IdPerfil], [Estado]) VALUES (2, N'vendedor', N'venta123', 2, 1)
INSERT [dbo].[Usuarios] ([Id], [User], [Contrasena], [IdPerfil], [Estado]) VALUES (3, N'cliente1', N'1234', 3, 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Clientes__C035B8DD4857258A] Fecha de script: 30/6/2026 19:32:27 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Facturas__CF12F9A6EDC56B1B] Fecha de script: 30/6/2026 19:32:27 ******/
ALTER TABLE [dbo].[Facturas] ADD UNIQUE NONCLUSTERED 
(
	[NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Producto__06370DACE3BA0363] Fecha de script: 30/6/2026 19:32:27 ******/
ALTER TABLE [dbo].[Productos] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Proveedo__AFA917862D3E62A2] Fecha de script: 30/6/2026 19:32:27 ******/
ALTER TABLE [dbo].[Proveedores] ADD UNIQUE NONCLUSTERED 
(
	[Cuit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuarios__BD20C6F14706E096] Fecha de script: 30/6/2026 19:32:27 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Perfiles] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [StockActual]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [PorcentajeGanancia]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Proveedor] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedores] ([ID])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Proveedor]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Usuario]
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompras_Compra] FOREIGN KEY([IdCompra])
REFERENCES [dbo].[Compras] ([Id])
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_DetalleCompras_Compra]
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompras_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_DetalleCompras_Producto]
GO
ALTER TABLE [dbo].[DetalleFacturas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFacturas_Factura] FOREIGN KEY([IdFactura])
REFERENCES [dbo].[Facturas] ([Id])
GO
ALTER TABLE [dbo].[DetalleFacturas] CHECK CONSTRAINT [FK_DetalleFacturas_Factura]
GO
ALTER TABLE [dbo].[DetalleFacturas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFacturas_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetalleFacturas] CHECK CONSTRAINT [FK_DetalleFacturas_Producto]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([ID])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Cliente]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Usuario]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categoria]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Marca] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marcas] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Marca]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Perfil] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfiles] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Perfil]
GO
/****** Objeto: StoredProcedure [dbo].[SP_Categorias_Actualizar] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Categorias_Actualizar]
    @Id int,
    @Descripcion varchar(100)
AS
BEGIN
    UPDATE [dbo].[Categorias] SET Descripcion = @Descripcion WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Categorias_Eliminar] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Categorias_Eliminar]
    @Id int
AS
BEGIN
    DELETE FROM [dbo].[Categorias] WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Categorias_Insertar] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Categorias_Insertar]
    @Descripcion varchar(100)
AS
BEGIN
    INSERT INTO [dbo].[Categorias] (Descripcion) VALUES (@Descripcion)
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Categorias_Listar] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- STORED PROCEDURES - CATEGORIAS
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Categorias_Listar]
AS
BEGIN
    SELECT Id, Descripcion FROM [dbo].[Categorias]
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Clientes_Actualizar] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Clientes_Actualizar]
(
    @ID INT,
    @DNI VARCHAR(15),
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @Direccion VARCHAR(200),
    @Telefono VARCHAR(20),
    @Email VARCHAR(150)

)
AS 
BEGIN

    UPDATE dbo.Clientes
    SET 
        DNI = @DNI,
        Nombre = @Nombre,
        Apellido = @Apellido,
        Direccion = @Direccion,
        Telefono = @Telefono,
        Email = @Email
    WHERE ID = @ID
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Clientes_BajaLogica] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Clientes_BajaLogica]
(
    @ID INT 
)
AS 
BEGIN 
     UPDATE dbo.Clientes
     SET Estado = 0
     WHERE ID = @ID 

END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Clientes_Insertar] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Clientes_Insertar]
(
    @DNI VARCHAR(15),
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @Direccion VARCHAR(200),
    @Telefono VARCHAR(20),
    @Email VARCHAR(150),
    @Estado BIT
)
AS
BEGIN
    INSERT INTO dbo.Clientes
    (
        DNI,
        Nombre,
        Apellido,
        Direccion,
        Telefono,
        Email,
        Estado
    )
    VALUES
    (
        @DNI,
        @Nombre,
        @Apellido,
        @Direccion,
        @Telefono,
        @Email,
        @Estado
    )
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Clientes_Listar] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Clientes_Listar]
AS 
BEGIN
    SELECT *
    FROM dbo.Clientes
  
END 
GO
/****** Objeto: StoredProcedure [dbo].[SP_Marcas_Actualizar] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Marcas_Actualizar]
    @Id int,
    @Descripcion varchar(100)
AS
BEGIN
    UPDATE [dbo].[Marcas] SET Descripcion = @Descripcion WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Marcas_Eliminar] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Marcas_Eliminar]
    @Id int
AS
BEGIN
    DELETE FROM [dbo].[Marcas] WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Marcas_Insertar] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Marcas_Insertar]
    @Descripcion varchar(100)
AS
BEGIN
    INSERT INTO [dbo].[Marcas] (Descripcion) VALUES (@Descripcion)
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Marcas_Listar] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- STORED PROCEDURES - MARCAS
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Marcas_Listar]
AS
BEGIN
    SELECT Id, Descripcion FROM [dbo].[Marcas]
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Productos_BajaLogica] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Productos_BajaLogica]
    @Id int
AS
BEGIN
    UPDATE [dbo].[Productos]
    SET Estado = 0
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Productos_Listar] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Productos_Listar]
AS
BEGIN
    SELECT
        p.Id,
        p.Codigo,
        p.NombreProducto,
        p.Descripcion,
        p.StockActual,
        p.StockMinimo,
        p.PorcentajeGanancia,
        p.IdMarca,
        m.Descripcion AS Marca,
        p.IdCategoria,
        c.Descripcion AS Categoria
    FROM [dbo].[Productos] p
    INNER JOIN [dbo].[Marcas] m ON p.IdMarca = m.Id
    INNER JOIN [dbo].[Categorias] c ON p.IdCategoria = c.Id
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Proveedores_Actualizar] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Proveedores_Actualizar]
    @ID int,
    @RazonSocial varchar(150),
    @Cuit varchar(20),
    @Direccion varchar(200) = NULL,
    @Telefono varchar(20) = NULL,
    @Email varchar(150) = NULL
AS
BEGIN
    UPDATE [dbo].[Proveedores]
    SET RazonSocial = @RazonSocial,
        Cuit = @Cuit,
        Direccion = @Direccion,
        Telefono = @Telefono,
        Email = @Email
    WHERE ID = @ID
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Proveedores_BajaLogica] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Proveedores_BajaLogica]
    @ID int
AS
BEGIN
    UPDATE [dbo].[Proveedores] SET Estado = 0 WHERE ID = @ID
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Proveedores_Insertar] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Proveedores_Insertar]
    @RazonSocial varchar(150),
    @Cuit varchar(20),
    @Direccion varchar(200) = NULL,
    @Telefono varchar(20) = NULL,
    @Email varchar(150) = NULL
AS
BEGIN
    INSERT INTO [dbo].[Proveedores] (RazonSocial, Cuit, Direccion, Telefono, Email)
    VALUES (@RazonSocial, @Cuit, @Direccion, @Telefono, @Email)
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Proveedores_Listar] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- STORED PROCEDURES - PROVEEDORES
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Proveedores_Listar]
AS
BEGIN
    SELECT ID, RazonSocial, Cuit, Direccion, Telefono, Email, Estado
    FROM [dbo].[Proveedores]
    WHERE Estado = 1
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Usuarios_Agregar] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Usuarios_Agregar]
    @User VARCHAR (50),
    @Contrasena VARCHAR (256),
    @IdPerfil INT,
    @Estado BIT
AS
BEGIN 
    INSERT INTO [dbo].[Usuarios]
    (
        [User],
        [Contrasena],
        [IdPerfil],
        [Estado]
    )
    VALUES 
    (   
        @User,
        @Contrasena,
        @IdPerfil,
        @Estado 
    )
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Usuarios_CambiarContrasena] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[SP_Usuarios_CambiarContrasena]
    @Id INT,
    @ContrasenaActual VARCHAR (256),
    @ContrasenaNueva VARCHAR (256)
AS
BEGIN 
    UPDATE [dbo].[Usuarios]
    SET Contrasena = @ContrasenaNueva
    WHERE Id = @Id
        AND Contrasena = @ContrasenaActual
        AND Estado = 1; 
END 
GO
/****** Objeto: StoredProcedure [dbo].[SP_Usuarios_Login] Fecha de script: 30/6/2026 19:32:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Usuarios_Login]
    @User VARCHAR (50),
    @Contrasena VARCHAR (256)
AS
BEGIN
    SELECT 
        U.[Id],
        U.[User],
        U.[Contrasena],
        U.[Estado],
        P.Id AS IdPerfil,
        P.NombrePerfil
    FROM [Usuarios] U
    INNER JOIN Perfiles P
        ON U.IdPerfil = P.Id
    WHERE 
        U.[User] = @User
        AND U.Contrasena = @Contrasena
        AND U.Estado = 1;

END
GO
USE [master]
GO
