USE [master]
GO
/****** Object:  Database [tpc_P3]    Script Date: 30/6/2026 19:32:04 ******/
CREATE DATABASE [tpc_P3] ON  PRIMARY 
( NAME = N'tpc_P3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\tpc_P3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tpc_P3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\tpc_P3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tpc_P3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tpc_P3]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [varchar](15) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Direccion] [varchar](200) NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](150) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompras]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCompra] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal]  AS ([Cantidad]*[PrecioUnitario]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleFacturas]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFacturas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioCompra] [decimal](10, 2) NOT NULL,
	[PorcentajeGanancia] [decimal](5, 2) NOT NULL,
	[PrecioVenta] [decimal](10, 2) NOT NULL,
	[Subtotal]  AS ([Cantidad]*[PrecioVenta]) PERSISTED,
	[IdLote] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroFactura] [varchar](20) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lotes]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdDetalleCompra] [int] NOT NULL,
	[CantidadTotal] [int] NOT NULL,
	[CantidadDisp] [int] NOT NULL,
	[PrecioCompra] [decimal](10, 2) NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfiles]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombrePerfil] [varchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[NombreProducto] [varchar](150) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[StockActual] [int] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[PorcentajeGanancia] [decimal](5, 2) NOT NULL,
	[IdMarca] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RazonSocial] [varchar](150) NOT NULL,
	[Cuit] [varchar](20) NOT NULL,
	[Direccion] [varchar](200) NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](150) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User] [varchar](50) NOT NULL,
	[Contrasena] [varchar](256) NOT NULL,
	[IdPerfil] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([Id], [Descripcion]) VALUES (1, N'Indumentaria')
INSERT [dbo].[Categorias] ([Id], [Descripcion]) VALUES (12, N'Indumentaria')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([ID], [DNI], [Nombre], [Apellido], [Direccion], [Telefono], [Email], [Estado]) VALUES (1, N'12345678', N'Juan', N'Perez', N'Calle 123', N'1122334455', N'juan@test.com', 0)
INSERT [dbo].[Clientes] ([ID], [DNI], [Nombre], [Apellido], [Direccion], [Telefono], [Email], [Estado]) VALUES (11, N'sasasa', N'asa', N'asa', N'asa', N'asas', N'asas@asa', 0)
INSERT [dbo].[Clientes] ([ID], [DNI], [Nombre], [Apellido], [Direccion], [Telefono], [Email], [Estado]) VALUES (14, N'45', N'1', N'1', N'1', N'1', N'1@1', 1)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Compras] ON 

INSERT [dbo].[Compras] ([Id], [Fecha], [IdProveedor], [IdUsuario], [Total], [Estado]) VALUES (1, CAST(N'2026-06-29T13:07:56.000' AS DateTime), 11, 1, CAST(120.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[Compras] ([Id], [Fecha], [IdProveedor], [IdUsuario], [Total], [Estado]) VALUES (2, CAST(N'2026-06-29T13:22:28.347' AS DateTime), 11, 1, CAST(120.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[Compras] ([Id], [Fecha], [IdProveedor], [IdUsuario], [Total], [Estado]) VALUES (3, CAST(N'2026-06-29T13:46:42.010' AS DateTime), 11, 1, CAST(120.00 AS Decimal(12, 2)), 1)
SET IDENTITY_INSERT [dbo].[Compras] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleCompras] ON 

INSERT [dbo].[DetalleCompras] ([Id], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (1, 1, 2, 10, CAST(12.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleCompras] ([Id], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (2, 2, 6, 10, CAST(12.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleCompras] ([Id], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (3, 3, 2, 10, CAST(12.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetalleCompras] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleFacturas] ON 

INSERT [dbo].[DetalleFacturas] ([Id], [IdFactura], [IdProducto], [Cantidad], [PrecioCompra], [PorcentajeGanancia], [PrecioVenta], [IdLote]) VALUES (1, 1, 2, 10, CAST(12.00 AS Decimal(10, 2)), CAST(1.00 AS Decimal(5, 2)), CAST(12.12 AS Decimal(10, 2)), 1)
INSERT [dbo].[DetalleFacturas] ([Id], [IdFactura], [IdProducto], [Cantidad], [PrecioCompra], [PorcentajeGanancia], [PrecioVenta], [IdLote]) VALUES (2, 2, 6, 10, CAST(12.00 AS Decimal(10, 2)), CAST(2.00 AS Decimal(5, 2)), CAST(12.24 AS Decimal(10, 2)), 2)
INSERT [dbo].[DetalleFacturas] ([Id], [IdFactura], [IdProducto], [Cantidad], [PrecioCompra], [PorcentajeGanancia], [PrecioVenta], [IdLote]) VALUES (3, 3, 2, 10, CAST(12.00 AS Decimal(10, 2)), CAST(1.00 AS Decimal(5, 2)), CAST(12.12 AS Decimal(10, 2)), 3)
SET IDENTITY_INSERT [dbo].[DetalleFacturas] OFF
GO
SET IDENTITY_INSERT [dbo].[Facturas] ON 

INSERT [dbo].[Facturas] ([Id], [NumeroFactura], [Fecha], [IdCliente], [IdUsuario], [Total], [Estado]) VALUES (1, N'F20260629130830', CAST(N'2026-06-29T13:08:30.370' AS DateTime), 1, 1, CAST(121.20 AS Decimal(12, 2)), 1)
INSERT [dbo].[Facturas] ([Id], [NumeroFactura], [Fecha], [IdCliente], [IdUsuario], [Total], [Estado]) VALUES (2, N'F20260629132244', CAST(N'2026-06-29T13:22:44.360' AS DateTime), 1, 1, CAST(122.40 AS Decimal(12, 2)), 1)
INSERT [dbo].[Facturas] ([Id], [NumeroFactura], [Fecha], [IdCliente], [IdUsuario], [Total], [Estado]) VALUES (3, N'F20260630140520', CAST(N'2026-06-30T14:05:20.030' AS DateTime), 1, 1, CAST(145.44 AS Decimal(12, 2)), 1)
SET IDENTITY_INSERT [dbo].[Facturas] OFF
GO
SET IDENTITY_INSERT [dbo].[Lotes] ON 

INSERT [dbo].[Lotes] ([Id], [IdProducto], [IdDetalleCompra], [CantidadTotal], [CantidadDisp], [PrecioCompra], [FechaIngreso]) VALUES (1, 2, 1, 10, 0, CAST(12.00 AS Decimal(10, 2)), CAST(N'2026-06-29T13:07:56.020' AS DateTime))
INSERT [dbo].[Lotes] ([Id], [IdProducto], [IdDetalleCompra], [CantidadTotal], [CantidadDisp], [PrecioCompra], [FechaIngreso]) VALUES (2, 6, 2, 10, 0, CAST(12.00 AS Decimal(10, 2)), CAST(N'2026-06-29T13:22:28.357' AS DateTime))
INSERT [dbo].[Lotes] ([Id], [IdProducto], [IdDetalleCompra], [CantidadTotal], [CantidadDisp], [PrecioCompra], [FechaIngreso]) VALUES (3, 2, 3, 10, 0, CAST(12.00 AS Decimal(10, 2)), CAST(N'2026-06-29T13:46:42.020' AS DateTime))
SET IDENTITY_INSERT [dbo].[Lotes] OFF
GO
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([Id], [Descripcion]) VALUES (1, N'Nike')
INSERT [dbo].[Marcas] ([Id], [Descripcion]) VALUES (12, N'Nike')
SET IDENTITY_INSERT [dbo].[Marcas] OFF
GO
SET IDENTITY_INSERT [dbo].[Perfiles] ON 

INSERT [dbo].[Perfiles] ([Id], [NombrePerfil], [Estado]) VALUES (1, N'Administrador', 1)
INSERT [dbo].[Perfiles] ([Id], [NombrePerfil], [Estado]) VALUES (2, N'Empleado', 1)
SET IDENTITY_INSERT [dbo].[Perfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Codigo], [NombreProducto], [Descripcion], [StockActual], [StockMinimo], [PorcentajeGanancia], [IdMarca], [IdCategoria], [Estado], [Precio]) VALUES (1, N'P0001', N'Zapatillas Running', N'Zapatillas para running de uso diario', 50, 10, CAST(35.00 AS Decimal(5, 2)), 1, 1, 0, CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[Productos] ([Id], [Codigo], [NombreProducto], [Descripcion], [StockActual], [StockMinimo], [PorcentajeGanancia], [IdMarca], [IdCategoria], [Estado], [Precio]) VALUES (2, N'1', N'1', N'1', 11, 1, CAST(1.00 AS Decimal(5, 2)), 1, 1, 1, CAST(1.00 AS Decimal(10, 2)))
INSERT [dbo].[Productos] ([Id], [Codigo], [NombreProducto], [Descripcion], [StockActual], [StockMinimo], [PorcentajeGanancia], [IdMarca], [IdCategoria], [Estado], [Precio]) VALUES (6, N'2', N'2', N'2', 20, 0, CAST(2.00 AS Decimal(5, 2)), 1, 1, 1, CAST(2.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([ID], [RazonSocial], [Cuit], [Direccion], [Telefono], [Email], [Estado]) VALUES (1, N'Distribuidora Mayorista S.A.', N'30-12345678-9', N'Av. Corrientes 1234', N'011-4567-8901', N'ventas@distribuidora.com', 0)
INSERT [dbo].[Proveedores] ([ID], [RazonSocial], [Cuit], [Direccion], [Telefono], [Email], [Estado]) VALUES (11, N'1', N'1', N'1', N'1', N'1', 1)
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [User], [Contrasena], [IdPerfil], [Estado]) VALUES (1, N'admin', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a', 1, 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clientes__C035B8DD6EE52579]    Script Date: 30/6/2026 19:32:05 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Facturas__CF12F9A602A629C4]    Script Date: 30/6/2026 19:32:05 ******/
ALTER TABLE [dbo].[Facturas] ADD UNIQUE NONCLUSTERED 
(
	[NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Producto__06370DACC5F7298E]    Script Date: 30/6/2026 19:32:05 ******/
ALTER TABLE [dbo].[Productos] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Proveedo__AFA9178656C8567F]    Script Date: 30/6/2026 19:32:05 ******/
ALTER TABLE [dbo].[Proveedores] ADD UNIQUE NONCLUSTERED 
(
	[Cuit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__BD20C6F12086D816]    Script Date: 30/6/2026 19:32:05 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Lotes] ADD  DEFAULT (getdate()) FOR [FechaIngreso]
GO
ALTER TABLE [dbo].[Perfiles] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [StockActual]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [PorcentajeGanancia]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Precio]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Proveedor] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedores] ([ID])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Proveedor]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Usuario]
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompras_Compra] FOREIGN KEY([IdCompra])
REFERENCES [dbo].[Compras] ([Id])
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_DetalleCompras_Compra]
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompras_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_DetalleCompras_Producto]
GO
ALTER TABLE [dbo].[DetalleFacturas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFacturas_Factura] FOREIGN KEY([IdFactura])
REFERENCES [dbo].[Facturas] ([Id])
GO
ALTER TABLE [dbo].[DetalleFacturas] CHECK CONSTRAINT [FK_DetalleFacturas_Factura]
GO
ALTER TABLE [dbo].[DetalleFacturas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFacturas_Lote] FOREIGN KEY([IdLote])
REFERENCES [dbo].[Lotes] ([Id])
GO
ALTER TABLE [dbo].[DetalleFacturas] CHECK CONSTRAINT [FK_DetalleFacturas_Lote]
GO
ALTER TABLE [dbo].[DetalleFacturas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFacturas_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetalleFacturas] CHECK CONSTRAINT [FK_DetalleFacturas_Producto]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([ID])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Cliente]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Usuario]
GO
ALTER TABLE [dbo].[Lotes]  WITH CHECK ADD  CONSTRAINT [FK_Lotes_DetalleCompra] FOREIGN KEY([IdDetalleCompra])
REFERENCES [dbo].[DetalleCompras] ([Id])
GO
ALTER TABLE [dbo].[Lotes] CHECK CONSTRAINT [FK_Lotes_DetalleCompra]
GO
ALTER TABLE [dbo].[Lotes]  WITH CHECK ADD  CONSTRAINT [FK_Lotes_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[Lotes] CHECK CONSTRAINT [FK_Lotes_Producto]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categoria]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Marca] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marcas] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Marca]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Perfil] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfiles] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Perfil]
GO
/****** Object:  StoredProcedure [dbo].[SP_Categorias_Actualizar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Categorias_Actualizar]
    @Id          int,
    @Descripcion varchar(100)
AS
BEGIN
    UPDATE [dbo].[Categorias] SET Descripcion = @Descripcion WHERE Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Categorias_Eliminar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Categorias_Eliminar]
    @Id int
AS
BEGIN
    DELETE FROM [dbo].[Categorias] WHERE Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Categorias_Insertar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Categorias_Insertar]
    @Descripcion varchar(100)
AS
BEGIN
    INSERT INTO [dbo].[Categorias] (Descripcion) VALUES (@Descripcion)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Categorias_Listar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Categorias_Listar]
AS
BEGIN
    SELECT Id, Descripcion FROM [dbo].[Categorias]
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Clientes_Actualizar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Clientes_Actualizar]
    @ID         int,
    @DNI        varchar(15),
    @Nombre     varchar(100),
    @Apellido   varchar(100),
    @Direccion  varchar(200) = NULL,
    @Telefono   varchar(20)  = NULL,
    @Email      varchar(150) = NULL
AS
BEGIN
    UPDATE [dbo].[Clientes]
    SET DNI       = @DNI,
        Nombre    = @Nombre,
        Apellido  = @Apellido,
        Direccion = @Direccion,
        Telefono  = @Telefono,
        Email     = @Email
    WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Clientes_BajaLogica]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Clientes_BajaLogica]
    @ID int
AS
BEGIN
    UPDATE [dbo].[Clientes]
    SET Estado = 0
    WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Clientes_Insertar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Clientes_Insertar]
    @DNI        varchar(15),
    @Nombre     varchar(100),
    @Apellido   varchar(100),
    @Direccion  varchar(200) = NULL,
    @Telefono   varchar(20)  = NULL,
    @Email      varchar(150) = NULL
AS
BEGIN
    INSERT INTO [dbo].[Clientes] (DNI, Nombre, Apellido, Direccion, Telefono, Email)
    VALUES (@DNI, @Nombre, @Apellido, @Direccion, @Telefono, @Email)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Clientes_Listar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Clientes_Listar]
AS 
BEGIN
    SELECT *
    FROM dbo.Clientes
  
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_Compras_ActualizarTotal]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Compras_ActualizarTotal]
    @IdCompra int
AS
BEGIN
    UPDATE [dbo].[Compras]
    SET Total = (
        SELECT ISNULL(SUM(Subtotal), 0)
        FROM [dbo].[DetalleCompras]
        WHERE IdCompra = @IdCompra
    )
    WHERE Id = @IdCompra
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Compras_Insertar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Compras_Insertar]
    @IdProveedor int,
    @IdUsuario   int,
    @NewId       int OUTPUT
AS
BEGIN
    INSERT INTO [dbo].[Compras] (IdProveedor, IdUsuario, Total)
    VALUES (@IdProveedor, @IdUsuario, 0)
    SET @NewId = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Compras_Listar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- STORED PROCEDURES - COMPRAS
-- ============================================================

CREATE PROCEDURE [dbo].[SP_Compras_Listar]
AS
BEGIN
    SELECT
        c.Id,
        c.Fecha,
        c.IdProveedor,
        p.RazonSocial AS Proveedor,
        c.IdUsuario,
        c.Total,
        c.Estado
    FROM [dbo].[Compras] c
    INNER JOIN [dbo].[Proveedores] p ON c.IdProveedor = p.ID
    WHERE c.Estado = 1
    ORDER BY c.Fecha DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DetalleCompras_Insertar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DetalleCompras_Insertar]
    @IdCompra       int,
    @IdProducto     int,
    @Cantidad       int,
    @PrecioUnitario decimal(10,2),
    @NewId          int OUTPUT
AS
BEGIN
    INSERT INTO [dbo].[DetalleCompras] (IdCompra, IdProducto, Cantidad, PrecioUnitario)
    VALUES (@IdCompra, @IdProducto, @Cantidad, @PrecioUnitario)
    SET @NewId = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Lotes_Crear]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. SPs de Lotes
CREATE   PROCEDURE [dbo].[SP_Lotes_Crear]
    @IdProducto      int,
    @IdDetalleCompra int,
    @Cantidad        int,
    @PrecioCompra    decimal(10,2),
    @NewId           int OUTPUT
AS
BEGIN
    INSERT INTO [dbo].[Lotes] (IdProducto, IdDetalleCompra, CantidadTotal, CantidadDisp, PrecioCompra)
    VALUES (@IdProducto, @IdDetalleCompra, @Cantidad, @Cantidad, @PrecioCompra)
    SET @NewId = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Lotes_DescontarStock]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_Lotes_DescontarStock]
    @Id       int,
    @Cantidad int
AS
BEGIN
    UPDATE [dbo].[Lotes]
    SET CantidadDisp = CantidadDisp - @Cantidad
    WHERE Id = @Id AND CantidadDisp >= @Cantidad

    IF @@ROWCOUNT = 0
        RAISERROR('Stock insuficiente o lote no encontrado para el Id indicado.', 16, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Lotes_ListarPorProducto]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_Lotes_ListarPorProducto]
    @IdProducto int
AS
BEGIN
    SELECT
        l.Id,
        l.IdProducto,
        l.IdDetalleCompra,
        l.CantidadTotal,
        l.CantidadDisp,
        l.PrecioCompra,
        l.FechaIngreso,
        prov.RazonSocial AS Proveedor
    FROM [dbo].[Lotes] l
    INNER JOIN [dbo].[DetalleCompras] dc   ON l.IdDetalleCompra = dc.Id
    INNER JOIN [dbo].[Compras]        c    ON dc.IdCompra       = c.Id
    INNER JOIN [dbo].[Proveedores]    prov ON c.IdProveedor     = prov.ID
    WHERE l.IdProducto = @IdProducto AND l.CantidadDisp > 0
    ORDER BY l.FechaIngreso ASC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Marcas_Actualizar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Marcas_Actualizar]
    @Id          int,
    @Descripcion varchar(100)
AS
BEGIN
    UPDATE [dbo].[Marcas] SET Descripcion = @Descripcion WHERE Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Marcas_Eliminar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Marcas_Eliminar]
    @Id int
AS
BEGIN
    DELETE FROM [dbo].[Marcas] WHERE Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Marcas_Insertar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Marcas_Insertar]
    @Descripcion varchar(100)
AS
BEGIN
    INSERT INTO [dbo].[Marcas] (Descripcion) VALUES (@Descripcion)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Marcas_Listar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Marcas_Listar]
AS
BEGIN
    SELECT Id, Descripcion FROM [dbo].[Marcas]
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Perfiles_Listar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_Perfiles_Listar]
AS
BEGIN
    SELECT Id, NombrePerfil FROM [dbo].[Perfiles] WHERE Estado = 1
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Productos_Actualizar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Productos_Actualizar]
    @Id                 int,
    @Codigo             varchar(50),
    @NombreProducto     varchar(150),
    @Descripcion        varchar(500) = NULL,
    @Precio             decimal(10,2),
    @StockMinimo        int,
    @PorcentajeGanancia decimal(5,2),
    @IdMarca            int,
    @IdCategoria        int
AS
BEGIN
    UPDATE [dbo].[Productos]
    SET Codigo             = @Codigo,
        NombreProducto     = @NombreProducto,
        Descripcion        = @Descripcion,
        Precio             = @Precio,
        StockMinimo        = @StockMinimo,
        PorcentajeGanancia = @PorcentajeGanancia,
        IdMarca            = @IdMarca,
        IdCategoria        = @IdCategoria
    WHERE Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Productos_BajaLogica]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Productos_BajaLogica]
    @Id int
AS
BEGIN
    UPDATE [dbo].[Productos]
    SET Estado = 0
    WHERE Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Productos_Insertar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Productos_Insertar]
    @Codigo             varchar(50),
    @NombreProducto     varchar(150),
    @Descripcion        varchar(500) = NULL,
    @Precio             decimal(10,2),
    @StockMinimo        int,
    @PorcentajeGanancia decimal(5,2),
    @IdMarca            int,
    @IdCategoria        int
AS
BEGIN
    INSERT INTO [dbo].[Productos]
        (Codigo, NombreProducto, Descripcion, Precio, StockMinimo, PorcentajeGanancia, IdMarca, IdCategoria)
    VALUES
        (@Codigo, @NombreProducto, @Descripcion, @Precio, @StockMinimo, @PorcentajeGanancia, @IdMarca, @IdCategoria)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Productos_Listar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Productos_Listar]
AS
BEGIN
    SELECT
        p.Id,
        p.Codigo,
        p.NombreProducto,
        p.Descripcion,
        p.StockActual,
        p.StockMinimo,
        p.Precio,
        p.PorcentajeGanancia,
        p.IdMarca,
        m.Descripcion AS Marca,
        p.IdCategoria,
        c.Descripcion AS Categoria
    FROM [dbo].[Productos] p
    INNER JOIN [dbo].[Marcas]      m ON p.IdMarca     = m.Id
    INNER JOIN [dbo].[Categorias]  c ON p.IdCategoria = c.Id
    WHERE p.Estado = 1
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Proveedores_Actualizar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Proveedores_Actualizar]
    @ID          int,
    @RazonSocial varchar(150),
    @Cuit        varchar(20),
    @Direccion   varchar(200) = NULL,
    @Telefono    varchar(20)  = NULL,
    @Email       varchar(150) = NULL
AS
BEGIN
    UPDATE [dbo].[Proveedores]
    SET RazonSocial = @RazonSocial,
        Cuit        = @Cuit,
        Direccion   = @Direccion,
        Telefono    = @Telefono,
        Email       = @Email
    WHERE ID = @ID
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Proveedores_BajaLogica]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Proveedores_BajaLogica]
    @ID int
AS
BEGIN
    UPDATE [dbo].[Proveedores]
    SET Estado = 0
    WHERE ID = @ID
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Proveedores_Insertar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Proveedores_Insertar]
    @RazonSocial varchar(150),
    @Cuit        varchar(20),
    @Direccion   varchar(200) = NULL,
    @Telefono    varchar(20)  = NULL,
    @Email       varchar(150) = NULL
AS
BEGIN
    INSERT INTO [dbo].[Proveedores] (RazonSocial, Cuit, Direccion, Telefono, Email)
    VALUES (@RazonSocial, @Cuit, @Direccion, @Telefono, @Email)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Proveedores_Listar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Proveedores_Listar]
AS
BEGIN
    SELECT ID, RazonSocial, Cuit, Direccion, Telefono, Email, Estado
    FROM [dbo].[Proveedores]
    WHERE Estado = 1
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Usuarios_Actualizar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_Usuarios_Actualizar]
    @Id int,
    @User varchar(50),
    @IdPerfil int
AS
BEGIN
    UPDATE [dbo].[Usuarios]
    SET [User] = @User, IdPerfil = @IdPerfil
    WHERE Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Usuarios_ActualizarContrasena]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_Usuarios_ActualizarContrasena]
    @Id int,
    @ContrasenaHash varchar(256)
AS
BEGIN
    UPDATE [dbo].[Usuarios] SET Contrasena = @ContrasenaHash WHERE Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Usuarios_BajaLogica]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_Usuarios_BajaLogica]
    @Id int
AS
BEGIN
    UPDATE [dbo].[Usuarios] SET Estado = 0 WHERE Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Usuarios_Insertar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_Usuarios_Insertar]
    @User varchar(50),
    @ContrasenaHash varchar(256),
    @IdPerfil int
AS
BEGIN
    INSERT INTO [dbo].[Usuarios] ([User], Contrasena, IdPerfil)
    VALUES (@User, @ContrasenaHash, @IdPerfil)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Usuarios_Listar]    Script Date: 30/6/2026 19:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_Usuarios_Listar]
AS
BEGIN
    SELECT u.Id, u.[User], u.IdPerfil, p.NombrePerfil, u.Estado
    FROM [dbo].[Usuarios] u
    INNER JOIN [dbo].[Perfiles] p ON u.IdPerfil = p.Id
    WHERE u.Estado = 1
END

GO
USE [master]
GO
